body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(57.74% 82.54% at 73.96% 50%, #5304AD 25%, rgba(70, 0, 210, 0) 100%), 
  linear-gradient(177.96deg, #340E80 2.01%, #240B43 98.63%);
  color: #fff;
}

img {
width: 150px;
height: 107px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  margin-bottom: 8px;
  font-size: 1.8rem;
  font-weight: 600;
}

.header p {
  color: #d0c8ff;
  font-size: 0.95rem;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 380px;
  background: rgba(20, 0, 40, 0.6);
  border-radius: 15px;
  padding: 30px 25px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
   
}

.container > div:first-child {
  display: flex;
  margin-bottom: 10px;
}

.container > div:first-child a {
  background: rgba(10, 0, 30, 0.9);
  padding: 120px;
}

.current-page {
  border-bottom: 3px solid #fff;
}

a.tab, 
.container > div:first-child  a{
  padding: 10px;
  flex-grow: 1;
  text-align: center;
  color: #ccc;
  text-decoration: none;
  font-weight: 600;
}

.container > div:first-child a:hover,
.container > div:first-child a.active {
  color: #fff;
  background: linear-gradient(90deg, #9d4edd, #c77dff);
  border-bottom: 3px solid #fff;
}

form {
  text-align: left;
}

label {
  font-size: 0.9rem;
  color: #ddd;
  display: block;
  margin-bottom: 5px;
}

input {
  text-align: left;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
}

input::placeholder {
  color: #b8aefc;
}

#btn-access {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(269.04deg, #7B00FF 1.26%, #3100C5 99.73%);
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

#btn-access:hover {
  transform: scale(1.03);
  background: linear-gradient(90deg, #8f4fff, #c35fff);
}
