<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT Student Portal - Welcome Page</title>
    <link rel = "stylesheet" href = "../static/css/welcomepg.css" >
</head>
<body>
  
    <div class = "header">
        <h1 class = "title"> Developers of IT Student Portal</h1>
        <img src = "..\static\assets\icon.png">
    </div>

    <div>
        <div class = "row">
            <div class = "container">
                <div class = "wrapper">
                    <img src = "..\static\assets\Cadorniga.png">
                        <p class = "dev_names">John Paul G. Cadorniga</p>
                </div>
            </div>

            <div class = "container">
                <div class = "wrapper">
                    <img src = "..\static\assets\Inacay.png">
                         <p class = "dev_names">Ezekiel Rian D. Inacay</p>
                </div>
            </div>

            <div class = "container">
                <div class = "wrapper">
                    <img src = "..\static\assets\Paralejas.jpeg">
                        <p class = "dev_names">Chelsy Kai C. Paralejas</p>
                </div>
            </div>
        </div>

        <div class = "row">
            <div class = "container">
                <div class = "wrapper">
                    <img src = "..\static\assets\Trinidad.jpg">
                        <p class = "dev_names">Raezel Maye Trinidad</p>
                </div>
            </div>

            <div class = "container">
                <div class = "wrapper">
                    <img src = "..\static\assets\Victoria.png">
                        <p class = "dev_names">James Allen C. Victoria</p>
                </div>
            </div>
        </div> 
        
        <div class = "row">
            <a href = "{{url_for('login')}}"><button class = "exit">Exit</button></a>
        </div>
    </div>

</body>
</html>